[build]
target = "riscv32imac-esp-espidf"

[target.riscv32imac-esp-espidf]
rustflags = ["--cfg", "espidf_time64"]
linker = "ldproxy"

[unstable]
build-std = ["std", "panic_abort"]

[env]
ESP_IDF_SDKCONFIG_DEFAULTS = "sdkconfig.defaults"
ESP_IDF_VERSION = "v5.5.1"
